@charset "utf-8";

#wrapper {
    width: 100vw;
    height: 100vh;

    perspective: 900px;
}

.btnMenu {

    z-index: 3;

    position: fixed;
    top: 30px;
    left: 50px;
    width: 20px;
    height: 70px;

    font-size: 40px;
    color: #000;
    display: none;
}

.main-menu{

    z-index: 2;
    width: 150px;
    height: 100%;
    background: #eee;

    position: absolute;
    top: 0;
    left: 0;

    text-align: center;

    transform-origin: left center;
    transform: rotateY(15deg);
    transition: all 0.5s;
}

.main-menu.on {
    transform: rotateY(120deg);

    opacity: 0;
}

.main-menu > .logo {
    width: 70%;
    margin: 100px auto;
}

.main-menu > .logo img {
    display: block;
    width: 100%;
}

.main-menu > .gnb li {
    line-height: 5rem;
}

.main-menu > .gnb a {
    font-size: 25px;
    color: #000;
    font-weight: bolder;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: right center;
    transition: all 0.5s;
    background: #222;
    font-size: 20px;
}

#container.on {
    transform: rotateY(-10deg);
}

#container > div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;

    transition: all 1.5s;
}

#container > div.on {
    z-index: 2;
    opacity: 1;
}

#container > div > p {
    transform: rotateY(180deg);
    transition: all 1.5s;
}

#container > div.on > p{
    transform: rotateY(0deg);
}

#container > div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

#container>div>p{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container>.homme>p:nth-child(1){
    grid-column: 1 / span 2;
    background-color: #333;
    font-size: 3em;
    font-weight: bolder;
}

#container>.homme>p:nth-child(2){
    background: url(images/m1.jpg) no-repeat right center;
    background-size: cover;
}

#container>.homme>p:nth-child(3){
    background: #444;
    font-size: 2em;
    font-weight: bolder;
}

#container>.homme>p:nth-child(3) i{
    color: #eee;
    padding: 10px;

    transition: 0.5s;
}

#container>.homme>p:nth-child(3) i:hover{
    transform: scale(1.3);
}

#container>.homme>p:nth-child(4){
    background: #888;
}

#container>.homme>p:nth-child(5){
    background: url(images/m2.jpg) no-repeat left center;
    background-color: #fff;
    background-size: contain;
}

#container>.homme>p:nth-child(6){
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    background: url(images/m3.jpg) no-repeat center top;
    background-size: cover;

}

#container>.homme>p:nth-child(7){
    background: #444;
    background: url(images/m4.jpg) no-repeat center center;
    background-size: cover;

}

#container>.homme>p:nth-child(8){
    background: #555;
}

#container>.homme>p:nth-child(9){
    background: #444;
}

#container>.homme>p:nth-child(10){
    grid-column: 2 / span 2;
    background: url(images/m5.jpg) no-repeat right center;
    background-size: cover;
}

#container>.homme>p:nth-child(11){
 background-color: #333;
}

#container>.girl>p:nth-child(1){
    background: #444;
}

#container>.girl>p:nth-child(2){
    background: url(images/w1.jpg) no-repeat center bottom;
    background-color: #fff;
    background-size: contain;
}

#container>.girl>p:nth-child(3){
    grid-column: 3 / span 2;
    font-size: 3em;
    font-weight: bolder;
}

#container>.girl>p:nth-child(4){
    grid-column: 1;
    grid-row: 2 / span 2;
    background: url(images/w2.jpg) no-repeat right top;
    background-color: #fff;
    background-size: cover;
}

#container>.girl>p:nth-child(5){
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    background: #fff;
    background: url(images/w3.jpg) no-repeat center center;
    background-size: cover;
}

#container>.girl>p:nth-child(6){
    background: url(images/w4.jpg) no-repeat center center;
    background-color: #fff;
    background-size: cover;
}

#container>.girl>p:nth-child(7){
    background: #555;
}

#container>.girl>p:nth-child(8){
    background: url(images/w5.jpg) no-repeat center center;
    background-color: #fff;
    background-size: cover;
}

#container>.girl>p:nth-child(9){
    background: #555;
}

#container>.girl>p:nth-child(10){
    background: url(images/w6.jpg) no-repeat center top;
    background-size: cover;
}

#container>.girl>p:nth-child(11){
    background: url(images/w7.jpg) no-repeat center center;
    background-size: cover;
}

#container>.kids>p:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
    background: #fff;
    background: url(images/k1.jpg) no-repeat center top;
    background-size: cover;
}

#container>.kids>p:nth-child(2){
    background: #555;
}

#container>.kids>p:nth-child(3){
    background: url(images/k2.jpg) no-repeat center center;
    background-size: cover;
}

#container>.kids>p:nth-child(4){
    grid-column: 3 / span 2;
    background: #222;
    font-size: 3em;
    font-weight: bolder;
}

#container>.kids>p:nth-child(5){
    grid-column: 3;
    grid-row: 3 / span 2;
    background: url(images/k3.jpg) no-repeat center top;
    background-size: cover;
}

#container>.kids>p:nth-child(6){
    background: #777;
}

#container>.kids>p:nth-child(7){
    background: url(images/k4.jpg) no-repeat center center;
    background-size: cover;
}